@if (type==='BOT') {

<div class="flex flex-row items-center">
  <div
    class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
  >
    <img
      src="assets/images/chatbot.png"
      alt="Chat bot Image"
      class="Chat bot Image"
    />
  </div>
  <div
    class="relative ml-3 text-sm bg-white py-2 px-4 shadow ounded-tl-xl rounded-tr-xl rounded-br-xl"
  >
    <div>Please enter location you wish to check weather details?</div>
  </div>
</div>

} @else {
<div class="flex items-center justify-start flex-row-reverse">
  <div
    class="flex items-center justify-center h-10 w-10 rounded-full bg-gradient-to-r from-blue-200 to-cyan-200 text-blue-950 font-bold flex-shrink-0"
  >
    GW
  </div>
  <div
    class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-tl-xl rounded-tr-xl rounded-bl-xl"
  >
    <div>colombo</div>
  </div>
</div>
}
